<!--/*@thymesVar id="theme" type="kotlin.String"*/-->
<!--/*@thymesVar id="nonce" type="kotlin.String"*/-->
<!--/*@thymesVar id="assetManifest" type="kotlin.collections.Map"*/-->
<!doctype html>
<html
  th:data-theme="${theme}"
  th:dir="${dir}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  th:with="dir=${#locale.language == 'ar' ? 'rtl' : 'ltr'}">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport" />
    <meta th:replace="~{fragments/head :: htmx-config}" />
    <title
      th:text="#{nav.title}"
      layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <link
      th:href="${assetManifest['shared.css']}"
      rel="stylesheet"
      type="text/css" />
    <script
      th:attr="nonce=${nonce}"
      th:src="${assetManifest['runtime.js']}"></script>
    <script
      th:attr="nonce=${nonce}"
      defer
      th:src="${assetManifest['vendor.js']}"></script>
    <script
      th:attr="nonce=${nonce}"
      th:src="${assetManifest['shared.js']}"></script>
  </head>
  <body class="flex min-h-screen flex-col">
    <div
      class="container mx-auto flex flex-1 items-center justify-center p-4"
      layout:fragment="content"></div>
    <footer th:replace="~{fragments/navigation :: footer}"></footer>
  </body>
</html>
