<!doctype html>
<html
  layout:decorate="~{layouts/content_page}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{ui.error}"></title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="space-y-4 overflow-x-auto">
        <th:block layout:fragment="error_title"></th:block>
        <th:block layout:fragment="error_back">
          <div class="flex flex-row justify-between">
            <a th:replace="~{fragments/input :: back_button('/')}"></a>
            <span></span>
          </div>
        </th:block>
        <th:block layout:fragment="error_content"></th:block>
      </div>
    </div>
  </body>
</html>
