# https://cheatsheetseries.owasp.org/cheatsheets/Content_Security_Policy_Cheat_Sheet.html
# https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html
defaults
    mode http
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    timeout http-request 10s
    timeout http-keep-alive 10s
    timeout queue 5s
    timeout tunnel 2m
    timeout client-fin 1s
    timeout server-fin 1s
    compression algo gzip
    compression type application/javascript application/json application/xml text/css text/html text/javascript text/plain text/xml
    compression minsize-res 1500
    compression minsize-req 1500

frontend fhttps
    bind :80
    bind :443 ssl crt /keystore/external.combined.pem
    http-request redirect scheme https unless { ssl_fc }

    http-request set-header X-Forwarded-Proto https
    http-request set-var(txn.req_path) path

    http-response set-var(res.nonce) res.hdr(X-Nonce)

    http-response del-header Content-Security-Policy

    # strict-dynamic if nonce
    http-response set-header Content-Security-Policy "default-src 'none'; script-src 'nonce-%[var(res.nonce)]' 'strict-dynamic'; connect-src 'self'; img-src 'self' data:; style-src 'self'; frame-ancestors 'none'; form-action 'self'; object-src 'none'; base-uri 'none'; font-src 'self'; upgrade-insecure-requests;" if { var(res.nonce) -m found }
    # basic restrictive if not
    http-response set-header Content-Security-Policy "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self' data:; style-src 'self'; frame-ancestors 'none'; form-action 'self'; object-src 'none'; base-uri 'none'; font-src 'self'; upgrade-insecure-requests;" if ! { var(res.nonce) -m found }

    http-response set-header X-Frame-Options DENY
    http-response set-header X-Content-Type-Options nosniff
    http-response set-header Referrer-Policy strict-origin-when-cross-origin
    #http-response set-header Content-Type "text/html; charset=UTF-8"
    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    #http-response set-header Access-Control-Allow-Origin https://domain.com
    http-response set-header Cross-Origin-Opener-Policy same-origin
    http-response set-header Cross-Origin-Embedder-Policy require-corp
    http-response set-header Cross-Origin-Resource-Policy same-site
    http-response set-header Permissions-Policy "geolocation=(), camera=(), microphone=()"
    http-response set-header Server webserver
    #http-response set-header X-Robots-Tag "noindex, nofollow"
    http-response set-header X-DNS-Prefetch-Control off
    #http-response set-header Vary "Origin, Access-Control-Request-Method, Access-Control-Request-Headers"

    acl is_static_asset var(txn.req_path) -m reg \.(css|eot|gif|ico|jpe?g|js|png|svg|ttf|webp|woff2?|xml)$
    http-response set-header Cache-Control "public, max-age=31536000, immutable" if is_static_asset

    # strip X-Nonce custom header
    http-response del-header X-Nonce

    filter compression

    default_backend thymx

backend thymx
    balance roundrobin
    option httpchk
    option forwardfor
    http-check send meth GET uri /actuator/health/liveness
    timeout check 10s
    filter compression
    compression offload
    server s1 thymx-thymx-1:80 proto h2 check inter 30s fall 3 rise 2
