<!doctype html>
<html
  layout:decorate="~{layouts/error_page}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block layout:fragment="error_title">
      <div class="flex justify-center">
        <div class="join items-center space-x-8">
          <div class="join-item">
            <div class="inline-grid *:[grid-area:1/1]">
              <div class="status status-xl status-warning animate-ping"></div>
              <div class="status status-xl status-warning"></div>
            </div>
          </div>
          <div class="join-item space-y-4">
            <h1
              class="text-base-content text-2xl font-bold sm:text-3xl md:text-4xl"
              th:text="#{ui.forbidden}"></h1>
            <p th:text="#{ui.forbidden.details}"></p>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
